* { margin:0;padding:0;border:0;text-decoration:none;font-weight:inherit;font-style:inherit;color:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;list-style:none;border-collapse:collapse;border-spacing:0; -webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
nav>ul {
  float:left;
}
body { 
  font-family: 'Helvetica Neue', Helvetica, Arial;
  font-family: serif;
  font-size: 16px;
  height: 100vh;
  padding: 30px;
}
body header {
  height: 10vh;
}
body footer {
  height: 10vh;
}

header {
  float: left;
}
main { 
  clear: both;
  max-width: 624px;
}

main h1 { text-transform: capitalize; font-size: 36px; margin-bottom: 30px;}

main.main div {
  max-width: 293px;
  margin-bottom: 30px;
}

main.main a {
  padding: 5px;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin: 0 45px 30px 0;
}

footer {
  border-top: 1.5px solid;
  padding: 30px 0 0 0;
  clear: both;
}

img {
  max-width: 100%;
  max-height: 450px;
  margin: 0 0 15px;
}

figure {
  margin-bottom: 30px;
}
